$color_green: rgb(0, 125, 0);

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-size: 16px;
    font-family: Verdana, sans-serif;

    outline: none;
    user-select: none;
    
    button{
      border: 1px solid transparent;
      outline: none;
      cursor: pointer;
      background-color: whitesmoke;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;

      &.active{
        background-color: $color_green;
        color: white;
      }

      &:hover{
        color: white;
        background-color: $color_green;
        border-color: black;
      }
    }
}


.kalender{

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 6fr;
  grid-template-areas: 
    "k_day k_year"
    "k_day k_month"
    "k_day k_table";
  min-width: 60%;
  max-width: 900px;
  margin: 2rem auto 0 auto;
  height: 500px;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 1rem;

  .k_year {
    grid-area: k_year;
    text-align: right;
    padding: 0.4rem;

    button{
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
      border-radius: 100rem;
      line-height: 1rem;
      margin: 0 1rem;
    }
  }

  .k_month {
    grid-area: k_month;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 0.2rem;
    padding: 0.4rem;

  }

  .k_table {
    grid-area: k_table;
    padding: 0.4rem;

    display: grid;
    grid-template-rows: 2rem auto;
    
    .table_head{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      padding: 0.4rem;
      gap: 0.2rem;

      span{
        display: block;
        text-align: center;
      }
    }

    .table_days{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      padding: 0.4rem;
      gap: 0.4rem;

      button{
        padding: 0.4rem;
        background-color: transparent;
        min-width: 3rem;
        position: relative;
        margin: 0 auto;   
        border-bottom: 1px solid transparent;

        &.marker{
          background-color: rgba(0, 128, 0, 0.3);
        }
        
        &:hover{
          background-color: $color_green;
        }

      }

    }


  }

  .k_day {
    grid-area: k_day;
    background-color: $color_green;
    padding: 0.4rem;
    border-radius: 1rem 0 0 1rem;
    height: 100%;
    padding: 1rem;
    
    .k_day_head{

      padding-bottom: 1rem;
      border-bottom: 1px solid white;       

      div{
        text-align: center;

        &:first-child{
          font-size: 3rem;
        }

        color: white;
      }

    }

    .k_day_content{
      padding: 0.2rem;
      min-height: 8rem;

      .k_day_content_row{
        text-align: right;
        padding: 0.2rem;

        span{
          color: white;
          display: inline-block;

          &:nth-child(2){
            min-width: 8rem;
          }
        } 
        
        
        
      }
    }

    .k_day_control{
      padding: 0.2rem;
      text-align: right;

      button{
        padding: 0.4rem;
        transition: letter-spacing 0.3s;

        &:hover{
          letter-spacing: 1px;
        }
      }



    }

  }
  
}

@media only screen and (max-width: 600px) {

  .kalender{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 6fr auto;
    grid-template-areas: 
      "k_year"
      "k_month"
      "k_table"
      "k_day";
    min-width: initial;
    max-width: initial;
    margin: 1rem auto;
    height: initial;
    box-shadow: none;
    padding-top: 1rem;

    .k_day {
      grid-area: k_day;
      padding: 0.4rem;
      
      padding: 1rem;
      border-radius: 0;

    }
    
  }

  

}
