* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* button {
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background-color: whitesmoke;
  -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

* button.active {
  background-color: #007d00;
  color: white;
}

* button:hover {
  color: white;
  background-color: #007d00;
  border-color: black;
}

.kalender {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr 2fr 6fr;
      grid-template-rows: 1fr 2fr 6fr;
      grid-template-areas: "k_day k_year" "k_day k_month" "k_day k_table";
  min-width: 60%;
  max-width: 900px;
  margin: 2rem auto 0 auto;
  height: 500px;
  -webkit-box-shadow: 5px 5px 10px lightgray;
          box-shadow: 5px 5px 10px lightgray;
  border-radius: 1rem;
}

.kalender .k_year {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: k_year;
  text-align: right;
  padding: 0.4rem;
}

.kalender .k_year button {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 100rem;
  line-height: 1rem;
  margin: 0 1rem;
}

.kalender .k_month {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: k_month;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 0.2rem;
  padding: 0.4rem;
}

.kalender .k_table {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: k_table;
  padding: 0.4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2rem auto;
      grid-template-rows: 2rem auto;
}

.kalender .k_table .table_head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  padding: 0.4rem;
  gap: 0.2rem;
}

.kalender .k_table .table_head span {
  display: block;
  text-align: center;
}

.kalender .k_table .table_days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  padding: 0.4rem;
  gap: 0.4rem;
}

.kalender .k_table .table_days button {
  padding: 0.4rem;
  background-color: transparent;
  min-width: 3rem;
  position: relative;
  margin: 0 auto;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

.kalender .k_table .table_days button:hover {
  background-color: #007d00;
  border-color: black;
  color: whitesmoke;
}

.kalender .k_table .table_days button.marker {
  background-color: rgba(0, 128, 0, 0.3);
}

.kalender .k_table .table_days button.entry {
  background-color: #007d00;
  color: whitesmoke;
}

.kalender .k_table .table_days .empty {
  cursor: default;
  visibility: hidden;
}

.kalender .k_day {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: k_day;
  background-color: #007d00;
  padding: 0.4rem;
  border-radius: 1rem 0 0 1rem;
  height: 100%;
  padding: 1rem;
}

.kalender .k_day .k_day_head {
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.kalender .k_day .k_day_head div {
  text-align: center;
  color: white;
}

.kalender .k_day .k_day_head div#k_day_head_day {
  font-size: 3rem;
}

.kalender .k_day .k_day_content {
  padding: 0.2rem;
  min-height: 8rem;
}

.kalender .k_day .k_day_content .k_day_content_row {
  text-align: right;
  padding: 0.2rem;
}

.kalender .k_day .k_day_content .k_day_content_row span {
  color: white;
  display: inline-block;
}

.kalender .k_day .k_day_content .k_day_content_row span:nth-child(2) {
  min-width: 8rem;
}

.kalender .k_day .k_day_control {
  padding: 0.2rem;
  text-align: right;
}

.kalender .k_day .k_day_control button {
  padding: 0.4rem;
  -webkit-transition: letter-spacing 0.3s;
  transition: letter-spacing 0.3s;
}

.kalender .k_day .k_day_control button:hover {
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  .kalender {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 6fr auto;
        grid-template-rows: 1fr 2fr 6fr auto;
        grid-template-areas: "k_year" "k_month" "k_table" "k_day";
    min-width: initial;
    max-width: initial;
    margin: 1rem auto;
    height: initial;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 1rem;
  }
  .kalender .k_day {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: k_day;
    padding: 0.4rem;
    padding: 1rem;
    border-radius: 0;
  }
}
/*# sourceMappingURL=style.css.map */